<div class="content">
    <h3>You are using</h3>
    <p>Model: {{device.model}}</p>
    <p>Type: {{device.type}}</p>
    <p>Vendor: {{device.vendor}}</p>
    <p>OS: {{os.name}} {{os.version}}</p>
</div>

<div *ngIf = 'device.model === "iPhone"'>
    <img src="../assets/ip.png" alt="">
</div>

<div *ngIf = 'os.name === "Windows"'>
    <img src="../assets/desktop.png" alt="">
</div>

<div *ngIf = 'os.name === "Android" && device.type == "mobile"'>
    <img src="../assets/android.png" alt="">
</div>

<div *ngIf="os.name == 'Android' && device.type == 'tablet'">
    <img src="../assets/tablet.png" alt="">
  </div>

<div *ngIf="os.name == 'iOS' && device.type == 'tablet'">
    <img src="../assets/ipad.png" alt="">
</div>

<div class="center">
    <button><span>Download</span> on your {{device.type | titlecase }}</button>
    <button (click)="reload()">Page Reload</button>
</div>